<div id="ordered-list" class="px-3 px-lg-0">

  {% if block.title or block.intro or block.sub_title %}
    <div class="columns is-widescreen">
      <div class="column is-3">
      </div>
      <div class="column is-9">
        {% include 'partial/block-title.twig' %}
        {% include 'partial/block-intro.twig' %}
      </div>
    </div>
  {% endif %}

  <div class="columns is-widescreen">

    <div class="column is-3">
    {% if block.pull_quote %}
      <p class="wp-caption-text px-2 px-lg-0">{{ block.pull_quote }}</p>
    {% endif %}
    </div>

    <div class="column is-9">

      {% if block.list_repeater %}
        <ol class="{% if post.publication_color_new %}text-color-{{ post.publication_color_new }}{% endif %} ol-block d-flex flex-column">
        {% for item in block.list_repeater %}
          <li class="d-flex align-items-center sans-medium" data-scroll><span>{{ item.list_item_text }}</span></li>
        {% endfor %}
        </ol>
      {% endif %}

    </div>

  </div>

</div>
