<div id="video" class="mb-4">

  {% include 'partial/block-image.twig' %}

  {% if block.is_title == "true" %}
  <div class="container narrow text-center">
    {% include 'partial/block-title.twig' %}
    {% include 'partial/block-intro.twig' %}
  </div>
  {% endif %}

  <div class="wysiwyg">

    <div class="embed-responsive embed-responsive-16by9 lazyload">
      <iframe class="embed-responsive-item lazyload" src='{% if block.video_type == "vimeo" and block.video_desktop_id %}https://player.vimeo.com/video/{{ block.video_desktop_id }}?api=1&title=0&byline=0&portrait=0&sidedock=0&controls=1{% endif %}{% if block.video_type == "youtube" and block.youtube_desktop_id %}http://www.youtube.com/embed/{{ block.youtube_desktop_id }}?api=1&title=0&byline=0&portrait=0&sidedock=0&controls=1{% endif %}' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>

    <div class="h5 sans my-3">{{ block.video_caption }}</div>

  </div>


</div><!-- #video -->
