<div id="wysiwyg">

  {% include 'partial/block-image.twig' %}

  {% if block.is_title == "true" %}
    <div class="container narrow text-center">
      {% include 'partial/block-title.twig' %}
      {% include 'partial/block-intro.twig' %}
    </div>
  {% endif %}

  {% if block.wysiwyg %}

    <div class="wysiwyg">

      <div class="container narrow pb-5">

        {{ block.wysiwyg }}

      </div>

    </div>

  {% endif %}

</div>
