{% if block.title %}

<h2 id="{{ anchor }}" class="block-heading sans-medium is-size-4-mobile is-size-2">

  {{ block.title }}

</h2>

{% endif %}

{% if block.sub_title %}

<div class="h4 is-size-4 sans-medium pb-0">

  {{ block.sub_title }}

</div>

{% endif %}

