<header class="sticky-header">
  <div class="header-wrap h-100 container-fluid">
    <div class="row h-100">
      <div class="col-8 col-lg-3 col-xl-2">
        <div class="logomark lg:absolute h-100 w-100">
          <a class="logo d-flex h-100 pl-lg-3" href="/">
            {{ logolight }}
          </a>
        </div>
      </div>
      <div class="col-4 col-lg-9 col-xl-10 d-none d-lg-flex">
        <div class="d-none d-xl-flex flex-column ml-auto">
          {% include "components/navbar-search.twig" %}
          {% include "components/navbar.twig" %}
        </div>
      </div>
      <div class="d-flex d-xl-none ml-auto">
        {% include "components/navbar.twig" %}
      </div>
    </div>
  </div>
</header>

<main id="main-content">

{% if fn('is_page', 'home') %}

  {% include 'components/hero-home.twig' %}

{% else %}

  {% include 'components/hero.twig' %}

{% endif %}

