.button {
  line-height: 1;
}

.search-bar {
  input.search {
    @include placeholder-color (#fff)
    @apply tracking-wider;
    border-radius: 0;
    font-family: $sans;
    font-size: 14px;
    height: 45px;
    width: 325px;
    padding: 0 15px;
    color: #FFF;
    &:focus, &:active {
      border-color: #fff;
      box-shadow: 0 0 5px 0 rgba($primary, 0.5);
    }
  }
}

.white-style .search-bar {
  .icon-search:before {
    color: #fff;
  }
  input.search {
    @include placeholder-color (#fff)
    @apply tracking-wider;
    border-radius: 0;
    font-family: $sans;
    font-size: 14px;
    min-height: 45px;
    width: 325px;
    padding: 0 15px;
    color: #fff;
    box-shadow: 0 0 0 #000;
    border: 1px solid #fff;
    &:focus, &:active {
      border-color: #fff;
      box-shadow: 0 0 5px 0 rgba(#fff, 0.5);
    }
  }
}

a.black-button {
  font-size: 14px;
  margin-top: 10px;
  padding: 15px 30px;
  // height: 45px;
  background: transparent;
  color: #000;
  font-family: $sans-medium;
  border: 1px solid #000;
  &:hover, &:active, &:focus {
    background: $primary;
    color: #fff;
    border: 1px solid #000;
  }
}
a.white-button {
  font-size: 14px;
  margin-top: 10px;
  padding: 15px 30px;
  height: 45px;
  background: transparent;
  color: #fff;
  font-family: $sans-medium;
  border: 1px solid #fff;
  &:hover, &:active, &:focus {
    background: $primary;
    color: #fff;
    border: 1px solid #fff;
  }
}

a.black-fill-button {
  font-size: 14px;
  margin-top: 10px;
  padding: 10px 10px 8px;
  height: 35px;
  background: #000;
  color: #fff;
  font-family: $sans-medium;
  border: 1px solid #000;
  &:hover, &:active, &:focus{
    background: #fff;
    color: #000;
    border: 1px solid #000;
  }
}

.is-rounded {
  border-radius: 290486px;
}

.button.squared {
  height: 55px;
  width: 55px;
}

a.cta-arrow-right {
  display: flex;
  width: 110px;
  &:before {
    border-style: solid;
    border-color: $primary;
    border-width: 2px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: absolute;
    transition: right .2s;
    right: 15px;
    top: 16px;
    content: '';
  }
  &:after {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    color: $primary;
    display: inline-block;
    height: 10px;
    width: 10px;
    right: 27px;
    top: 26px;
    position: absolute;
    transform: rotate(45deg);
    transition: right .2s;
    vertical-align: top;
  }
  &:hover {
    opacity: 1;
    &:before {
      right: 10px;
    }
    &:after {
      right: 22px;
    }
  }
}


.border-button-primary {
  border: 1px solid $primary;
  border-color: $primary;
  padding: 0 20px;
}

// .dropdown-menu {
//   display: none;
//   left: 0;
//   position: absolute;
//   top: 100%;
//   width: 100%;
//   z-index: 1000;
//   padding: 0;
//   ul {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     text-align: center;
//     padding: 15px 0;
//     li {
//       padding: 5px 15px;
//       font-family: $sans-medium;
//       font-size: 14px;
//       text-align: left;
//     }
//   }
//   &.is-active {
//     display: block;
//   }
// }

input.white-button {
  font-size: 14px;
  margin-top: 10px;
  padding: 10px 50px 8px;
  height: 42px;
  background: transparent;
  color: #fff;
  font-family: $sans-medium;
  border: 1px solid #fff;
  &:hover, &:active, &:focus {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
  }
}

.control.has-icons-left .icon a.button-close-search,
.control.has-icons-right .icon a.button-close-search {
  pointer-events: initial;
  cursor: pointer;
}

