.hero {
  &.header {
    overflow-y: hidden;
    // height: 197px;
  }
  &.is-archive {
    height: 250px;
    margin-top: 80px;
  }
  &.white-style {
    height: 200px;
  }
  &.is-small {
    height: 81px;
  }
  &.is-fullheight {
    padding: 25px 0;
  }
  .hero-body {
    display: flex;
    align-items: center;
    a {
      color: #fff;
    }
  }
}
