.main-block {
  position: relative;
}

html {
  &.fixnav {
    .sidebar-menu{
      &.fixed {
        top: 195px;
      }
    }
  }
  &.unfixnav {
    .sidebar-menu{
      &.fixed {
        top: 100px;
      }
    }
  }
}
.sidebar-menu{
  &.fixed {
    position: sticky;
  }
  &.bottom {
    bottom: 0;
    position: sticky;
    max-width: 100%;
    top: 0;
  }
}

.sidebar-wrapper {
  position: relative;
  top: 0px;
  bottom: auto;
  float: none;
  height: calc(100% - 195px);
}
