$serif:             'Lora', serif;
$serif-bold:        'Lora Bold', serif;
$serif-italic:      'Lora Italic', 'Lora', serif;


$sans:              'GT-America Regular', sans-serif;
$sans-italic:       'GT-America Regular Italic', sans-serif;
$sans-light:        'GT-America Light', sans-serif;
$sans-medium:       'GT-America Medium', sans-serif;
$sans-bold:         'GT-America Bold', sans-serif;

.sans {
  font-family: $sans
}
.sans-medium {
  font-family: $sans-medium
}
.sans-bold {
  font-family: $sans-bold
}

.sans-italic {
  font-family: $sans-italic
}

.serif {
  font-family: $serif
}

.serif-bold {
  font-family: $serif-bold
}

.serif-italic {
  font-family: $serif-italic
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 1.5px;
}


/* https://github.com/wearethescenery/ether */


.font-family-inherit { font-family: inherit }
.font-size-inherit { font-size: inherit }
.text-decoration-none { text-decoration: none }

.bold    { font-weight: var(--bold-font-weight, bold) }
.regular { font-weight: normal }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: var(--caps-letter-spacing); }

.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

// .line-height-1 { line-height: var(--line-height-1) }
// .line-height-2 { line-height: var(--line-height-2) }
// .line-height-3 { line-height: var(--line-height-3) }
// .line-height-4 { line-height: var(--line-height-4) }

.list-style-none { list-style: none }



.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}



/* Basscss Type Scale */
// .h00 { font-size: 5rem; }
// .h0 { font-size: 4rem; }
// .h1, h1 { font-size: 2.5rem; line-height: 1.25 !important; }
// .h2, h2 { font-size: 2.25rem; line-height: 1.35 !important; }
// .h3, h3 { font-size: 1.9rem; line-height: 1.35 !important; }
// .h4, h4 { font-size: 1.75rem; line-height: 1.35 !important; }
// .h5, h5 { font-size: 1.5rem; line-height: 1.35 !important; }
// .h6, h6 { font-size: 1.25rem; line-height: 1.35 !important; }




// sans-serif
@font-face{
    font-family:"GT-America Light";
    src:url("../fonts/gt-america/GT-America-Standard-Light.eot?#iefix");
    src:url("../fonts/gt-america/GT-America-Standard-Light.eot?#iefix") format("eot"),
        url("../fonts/gt-america/GT-America-Standard-Light.woff2") format("woff2"),
        url("../fonts/gt-america/GT-America-Standard-Light.woff") format("woff"),
}
@font-face{
    font-family:"GT-America Regular";
    src:url("../fonts/gt-america/GT-America-Standard-Regular.eot?#iefix");
    src:url("../fonts/gt-america/GT-America-Standard-Regular.eot?#iefix") format("eot"),
        url("../fonts/gt-america/GT-America-Standard-Regular.woff2") format("woff2"),
        url("../fonts/gt-america/GT-America-Standard-Regular.woff") format("woff"),
}
@font-face{
    font-family:"GT-America Regular Italic";
    src:url("../fonts/gt-america/GT-America-Standard-Regular-Italic.eot?#iefix");
    src:url("../fonts/gt-america/GT-America-Standard-Regular-Italic.eot?#iefix") format("eot"),
        url("../fonts/gt-america/GT-America-Standard-Regular-Italic.woff2") format("woff2"),
        url("../fonts/gt-america/GT-America-Standard-Regular-Italic.woff") format("woff"),
}
@font-face{
    font-family:"GT-America Medium";
    src:url("../fonts/gt-america/GT-America-Standard-Medium.eot?#iefix");
    src:url("../fonts/gt-america/GT-America-Standard-Medium.eot?#iefix") format("eot"),
        url("../fonts/gt-america/GT-America-Standard-Medium.woff2") format("woff2"),
        url("../fonts/gt-america/GT-America-Standard-Medium.woff") format("woff"),
}
@font-face{
    font-family:"GT-America Bold";
    src:url("../fonts/gt-america/GT-America-Standard-Bold.eot?#iefix");
    src:url("../fonts/gt-america/GT-America-Standard-Bold.eot?#iefix") format("eot"),
        url("../fonts/gt-america/GT-America-Standard-Bold.woff2") format("woff2"),
        url("../fonts/gt-america/GT-America-Standard-Bold.woff") format("woff"),
}

// serif
/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lora/lora-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lora Regular'), local('Lora-Regular'),
       url('../fonts/lora/lora-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lora/lora-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora/lora-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora/lora-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lora/lora-v14-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
}
/* lora-italic - latin */
@font-face {
  font-family: 'Lora Italic';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/lora/lora-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lora Italic'), local('Lora-Italic'),
       url('../fonts/lora/lora-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lora/lora-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora/lora-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora/lora-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lora/lora-v14-latin-italic.svg#Lora') format('svg'); /* Legacy iOS */
}
/* lora-700 - latin */
@font-face {
  font-family: 'Lora Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lora/lora-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lora Bold'), local('Lora-Bold'),
       url('../fonts/lora/lora-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lora/lora-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora/lora-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lora/lora-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lora/lora-v14-latin-700.svg#Lora') format('svg'); /* Legacy iOS */
}