.owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
}

.owl-theme .owl-nav {
  display: none;
}

.owl-next,
.owl-prev {
  position: absolute;
  top: 40%;
}

.owl-next {
  right: -55px;
  border-radius: 50%;
  border: 1px solid #888;
  height: 36px;
  width: 36px;
  display: inline-block;
  padding: 2px 6px;
}
.owl-prev {
  left: -55px;
  border-radius: 50%;
  border: 1px solid #888;
  height: 36px;
  width: 36px;
  display: inline-block;
  padding: 2px 6px;
}