<section class="search-bar">
  <div class="d-flex ml-auto">
      <form role="search" method="get" id="searchform" class="searchform" action="{{site.link}}" >
        <input class="input search is-medium bg-transparent" placeholder="Search" type="text" value="{{ function('get_search_query') }}" name="s" id="s" />
      </form>
    </div>
  </div>
</section>
