{% include 'partial/head.twig' %}

{% include 'partial/header.twig' %}

<section id="main" class="main-wrapper {% if fn('is_page', 'regions') or fn('is_page', 'our-work') %} p-0{% endif %}">

{% block content %}

  {{ messages.base.no_content }}

{% endblock %}

</section>

{% include 'partial/footer.twig' %}

