{% include 'partial/head.twig' %}

{% include 'partial/header.twig' %}
<div class="py-5">

{% block content %}


  {{ messages.base.no_content }}


{% endblock %}
</div>

{% include 'partial/footer.twig' %}

