{% extends "base.twig" %}

{% block content %}

  <div class="container narrow wysiwyg pb-5">

    <h1 class="lg:text-6xl color-primary text-center mb-lg-5">{{ post.title }}</h1>

    {{ post.content }}

  </div><!-- /.container -->


  {% set flex_blocks = flexblock %}

  {% if flex_blocks %}

    {% include 'blocks/flex-content.twig' with flex_blocks %}

  {% endif %}


  {% if post.related_pages %}

    {% include ['components/related-pages.twig'] %}

  {% endif %}

{% endblock %}
